.vscode/
.idea/
.DS_Store
Thumbs.db
*.log

.env
.env.local
.env.development.local
.env.test.local
.env.production.local

server/target/
server/bin/
server/*.jar
server/*.war
server/.mvn/wrapper/maven-wrapper.jar
server/.metadata/

client/node_modules/
client/build/
client/dist/
client/.eslintcache
client/coverage/
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*

postgres-data/
mysql-data/
