.footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  background-color: var(--main-dark-color);
  width: 100%;
  padding: var(--padding-m);
  gap: var(--gap-s);
}

.footer .footer-text {
  color: var(--main-light-color);
}

.footer-icon {
  width: 62px;
  height: 24px;
}
